.avatar-main {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}

.portrait-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}
